a {
    text-decoration: none;
    color: inherit;
}



/* ------------------------- */
/*    Fuentes                */
/* ------------------------- */


@font-face {
    font-family: "Cartoon";
    src: url(../fonts/CartoonCheck-Black\ 2.ttf);
}

@font-face {
    font-family: "Spice";
    src: url(../fonts/Spice-Regular.ttf);
}




@font-face {
    font-family: "Aniko-semibold";
    src: url(../fonts/Aniko-Semibold.otf);
}


@font-face {
    font-family: "Aniko-bold";
    src: url(../fonts/Aniko-Bold.otf);
}











*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* ----------------------------------*/
/*              Header               */
/* ----------------------------------*/


.Header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    position: sticky;
    top: 0;
    z-index: 1;

    font-family: "Aniko-semibold";
    background-color: var(--secondary);
   

    /* box-shadow: 0.3px 0.5px 10px black; */
}

.Header-nav {
    color: var(--primary);
}

.Header-nav ul{

    display: flex;
    list-style: none;
    gap: 64px;
    
}


.Header-icons ul {
    display: flex;
    gap: 32px;
    color: var(--primary);
    
}

.Header-icons li{
    list-style: none;
    
}


.Header-icons i{
    font-size: 18px;
}


#linkedin{

    transition: color 0.4s ease, transform 0.4s ease;

}

#linkedin:hover {
    color: #0966C2;
    transform: scale(1.1);
}

#behance{
    transition: color 0.4s ease, transform 0.4s ease;
}

#behance:hover {

    color: #002ACC;
    transform: scale(1.1);

}




.Body {
    font-family: poppins;
   
}



/* ----------------------------------*/
/*       Botones-color               */
/* ----------------------------------*/


.Main-themes {
    display: flex;
    justify-content: end;
    gap: 24px;
    padding: 32px;
}

.Main-colorButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;border-radius: 10px;
    transition: rotate 0.3s ease, transform 0.3s ease ;

}

.Main-colorButton:hover {
    rotate: 180deg;
    transform: scale(1.2);
}

/* ----------------------------------*/
/*              Botones              */
/* ----------------------------------*/


#light-mode {
    background-color: #F6F6F0;
}

#purple-mode {
    background-color: #352D31;
}

#pink-mode {
    background-color: #FDA6DC;
    
}

#green-mode {
    background-color: #97A75B;
}
