
/* ------------------------- */
/*    Variables              */
/* ------------------------- */

:root {


    --primary: #F6F6F0;
    --secondary: #2E2E2E;
    --terciary: #2E2E2E;
    
    --txt-secondary: #545252;
  

}


/* ------------------------- */
/*    Clases reutilizables   */
/* ------------------------- */


.u-bgPrimary {
    background-color: var(--bg-primary);

}

.u-bgSecondary {
    background-color: var(--bg-secondary);

}


.u-title {
    color: var(--title);

}

.u-txtPrimary {
    color: var(--txt-primary);

}

.u-txtSecondary {
    color: var(--txt-secondary);

}





/* ------------------------- */
/*          Modos            */
/* ------------------------- */


/*     Light mode      */
/* ------------------------- */

.u-lightMode{

    --primary: #F6F6F0;
    --secondary: #2E2E2E;
    --terciary: #2E2E2E;
   


}



/*     Purple/Dark mode      */
/* ------------------------- */


.u-darkMode{

--primary: #352D31;
--secondary: #FEBAD0;
--terciary: #F1EBDD;


}



/*         Pink mode         */
/* ------------------------- */


.u-pinkMode{
    --primary: #FDA6DC;
    --secondary: #FF4821;
    --terciary: #F7F7F0;
}



/*       Green mode           */
/* ------------------------- */

.u-greenMode{

    --primary: #97A75B;
    --secondary: #FDA6DC;
    --terciary: #FCD74D;
}

.