a {
    text-decoration: none;
    color: inherit;
}



/* ------------------------- */
/*    Fuentes                */
/* ------------------------- */


@font-face {
    font-family: "Cartoon";
    src: url(../fonts/CartoonCheck-Black\ 2.ttf);
}

@font-face {
    font-family: "Spice";
    src: url(../fonts/Spice-Regular.ttf);
}




@font-face {
    font-family: "Aniko-semibold";
    src: url(../fonts/Aniko-Semibold.otf);
}


@font-face {
    font-family: "Aniko-bold";
    src: url(../fonts/Aniko-Bold.otf);
}





*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}





.Body{

    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-family: poppins;
  


}

/* ----------------------------------*/
/*              Main                 */
/* ----------------------------------*/


.Main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 100%;
    height: 100vh;
    

}

.Main-intro{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Main-h1{

    font-family: Aniko-semibold;
    font-size: 42px;
}


.Main-themes{

    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;

}


/* ----------------------------------*/
/*       Botones-color               */
/* ----------------------------------*/


.Main-themes {
    display: flex;
    justify-content: end;
    gap: 24px;
    padding: 32px;
}

.Main-colorButton {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: rotate 0.3s ease, transform 0.3s ease ;

}

.Main-colorButton:hover {
    rotate: 180deg;
    transform: scale(1.2);
}

/* ----------------------------------*/
/*              Botones              */
/* ----------------------------------*/


#light-mode {
    background-color: #F6F6F0;
}

#purple-mode {
    background-color: #352D31;
}

#pink-mode {
    background-color: #FDA6DC;
    
}

#green-mode {
    background-color: #97A75B;
}
